body {
    background-color: #252424;
    color: #f3f3f3ec;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ajh {
    height: 10.0rem;
    width: 13.0rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tb_name, .tb_title {
    display: none;
}

.nav_options {
    display: none;
}

.header_hr {
    color: #f3f3f3ec;
    margin-top: 1.0rem;
    width: 60%;
}

/* DEFAULT SIZE */
.portfolio_item {
    height: 20.0rem;
    width: 100%;
    /* margin-top: 2.0rem; */
}

/* CLICK SIZE */
/* #about_main, #projects_main, #contact_main {
    height: 40.0rem;
} */

#pantree_img {
    background-image: url(./../images/pantree_preview_lg.png);
}

#projects_box {
    background-image: url(./../images/project_main_sm.jpg);
}

#contact_box {
    background-image: url(./../images/contact_main_sm.jpg);
}


/* DEFAULT SIZE */
#pantree_img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* CLICK SIZE */
/* #about_box, #projects_box, #contact_box {
    height: 50%;
} */


#about_box:hover, #projects_box:hover, #contact_box:hover {
    filter: none;
}

/* DEFAULT POSITION */
#about_title, #projects_title, #contact_title {
    color: #f3f3f3ec;
    background-color: #541177;
    padding: 1.0rem 4.0rem 1.0rem 0.75rem;
    position: relative;
    bottom: 15.0rem;
}

/* CLICK POSITION */
/* .topic_title {
    bottom: 35.0rem;
} */

#about_content, #projects_content, #contact_content {
    display: none;
    height: 50%;
    width: 100%;
    background-color: #541177;
}

#about_p, #projects_p, #contact_p {
    float: left;
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-top: 2.5%;
    font-size: 1.1rem;
}

#about_select, #projects_select, #contact_select {
    float: left;
    width: 50%;
    height: 15%;
    margin-top: 2.5%;
    margin-left: 47.5%;
}

/* .topic_box:hover {
    filter: none;
} */

#content_lg {
    display: none;
}

.footer_hr {
    color: #f3f3f3ec;
    margin-top: 6.0rem;
    width: 60%;
}

.social_media_buttons {
    text-align: center;
}

.fa {
    color: #f3f3f3ec;
    margin: 0 2.0rem;
    font-size: 3.0rem;
}

.fa:hover {
    color: #541177;
}

#about_option1box, #projects_option1box, #contact_option1box {
    float: left;
    width: 45%;
    height: 100%;
    margin-left: 2.5%;
    margin-right: 5%;
}

#about_option2box, #projects_option2box, #contact_option2box {
    float: left;
    width: 45%;
    height: 100%;
}

#aboutOption1, #projectsOption1, #contactOption1, #aboutOption2, #projectsOption2, #contactOption2 {
    text-align: center;
    justify-items: center;
    color: #f3f3f3ec;
    font-size: 1.0rem;
}

#aboutOption1:hover, #projectsOption1:hover, #contactOption1:hover, #aboutOption2:hover, #projectsOption2:hover, #contactOption2:hover {
    color: #7700ff;
}



/* Switching from small to large screens */
@media (min-width: 550px) {

    .header_hr {
        display: none;
    }

    #about_main, #projects_main, #contact_main {
        height: 45.0rem;
    }

    .ajh {
        margin-left: 2.0rem;
        float: left;
    }

    .tb_title {
        clear: both;
        color: #bec5c7c4;
        display: block;
        font-style: italic;
        margin-left: 3.3rem;
    }

    .nav_options {
        display: block;
        margin: 3.5rem 4.0rem 0 0;
        text-align: right;
        float: right;
    }
    
    .nav_options_text {
        color: #f3f3f3ec;
        font-size:  2.0rem;  
        text-decoration: none;  
    }

    .nav_options_text:hover {
        color: #541177;
    }

}